body, main, section, ul, li, a, div, header, figure, img, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}